*{padding: 0px;
margin: 0px;
font-family: 'Montserrat';
}
body {
height: 400px;
background-image: url("../Fondos\ efectos/figuras.png");
background-size: cover;
background-repeat:no-repeat;
}

.header{

    width: 1330px;
    height: 620px;
    background-image:url("..//landing/inicio.png");
    background-repeat:no-repeat;
    background-size:cover;
}

.titulo a{
    width: 300px;
    height:40;
    text-decoration: none;
    padding: 10px; /*espacio alrededor texto*/
    background: #7EFFDB;
    border: 4px solid #000000;
    box-shadow: -6px 4px 0px #000000;
    text-decoration: none; 
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: 20px;
    }

.titulo{
padding-top:530px;
text-align: center;

}

.web img{
    width: 100%;
    height: 100%;}
   
.contenedor{
width: 940px;
height: 1000;
margin-left: 70px;   
font-style: normal;
position: relative;
}
.menu{
    position: fixed;
    z-index: 4;
    background-color: #FFFFFF;
    width: 100%;
    height: 130px;
}

.logo {
z-index: 2;
position: absolute;
left: 1px;
top: 40px;
padding-left: 70px;
}

.logo img {
width: 150px;
height: auto;
}



.navegador{
text-align: center;
padding-top:  50px;
padding-left: 360px;
position: absolute;
}
.navegador ul li{
display: inline-block;
color: rgb(0, 0, 0);
list-style-type: none;
text-decoration: none;
font-weight: 700;
font-size: 16px;
margin: 10px;
}

.icono img{
position: absolute;
left: 1030px;
top: 55px;
width: 23px;
height: auto;
}

.icono2 img{
position: absolute;
left: 1113px;
top: 55px;
width: 23px;
height: auto;
}

.principal{
margin: 0 auto;
z-index: 3;
position: relative;
width: 1000px;
height: 290px;
top: 190px;
background-image: url("../Fondos efectos/Fondo nuestras bicis.png");
left: 100px;
}

.texto{
text-align: center;
}

.texto h1{
width: 272px;
top: 50px;
position: absolute;
left: 360px;
font-weight: 700;
font-size: 25px;
line-height: 50px;
}

.texto a{
width: 700px;
position: absolute;
left: 150px;
top: 120px;
font-weight: 600;
font-size: 15px;
line-height: 30px;
}

.menutaller{
left: 19%;
position: relative;
padding-top: 25%;
z-index: 1;
margin: 0 auto;
}

div#cuadro1{
z-index: 4;
display: inline-block;
width: 250px;
height: 320px;
background: #FFFFFF;
border-radius: 10px;
border: 5px solid #582C82;
border-radius: 10px;
filter: drop-shadow(-8px 8px 0px #582C82);
margin: 10px;
}


div#cuadro1 img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 25px;
    top: 100px;
    transition: opacity 0.3s;
    opacity: 100;
}

div#cuadro1 p#info{ 
position: absolute;
font-weight: 600;
font-size: 13px;
margin: 20px;
text-align: center;
top:90px;
color: #000000;
opacity: 0;
}

div#cuadro1:hover img{
 opacity: 0;
 transition: all 400ms;   

}


div#cuadro1:hover h1{
color: #582C82;
transition: all 400ms;
}

div#cuadro1:hover p#info{
    opacity: 100;
    transition: all 400ms;
}
div#cuadro1:hover{
    background-color: #7EFFDB;
    transition: all 400ms;
    transform: scale(1.1);
}

div#cuadro1 h1{
    position: absolute;
    font-weight: 800;
    font-size: 19px;
    line-height: 39px;
    text-align: center;
    left: 50px;
    top:40px;
    color: #000000;
}




.cuadro2{
    z-index: 5;
    display: inline-block;
    width: 250px;
    height: 350px;
    background: #FFFFFF;
    border: 5px solid #582C82;
    border-radius: 10px;
    filter: drop-shadow(-8px 8px 0px #582C82);
    margin: 10px;
    text-align: center;
    }


    .cuadro2 h1{
        position: absolute;
        font-weight: 800;
        font-size: 19px;
        line-height: 39px;
        text-align: center;
        left: 99px; top:40px;
    }
.cuadro2 a{
    text-decoration: none; 
    text-align: center;
    font-weight: 600;
font-size: 13px;
color: #000000;
}
    .cuadro2 p{
width: 220px;
height: 100px;
position: absolute;
left: 13px;
top:110px;
font-weight: 600;
font-size: 13px;
text-align: center;
margin: 2px;

    }

.cuadro2:hover{
    transform: scale(1.1);
    transition: all 400ms;
}


div#cuadro3{
     z-index: 4;
        display: inline-block;
        width: 250px;
        height: 320px;
        background: #FFFFFF;
        border: 5px solid #582C82;
        border-radius: 10px;
        filter: drop-shadow(-8px 8px 0px #582C82);
        margin: 10px;
        }
        
        div#cuadro3 img{

            position: absolute;
            width: 200px;
            height: 200px;
            left: 25px;
            top: 100px;
            
        }
        div#cuadro3 h1{
            position: absolute;
            font-weight: 800;
            font-size: 19px;
            line-height: 39px;
            text-align: center;
            left: 50px; top:40px;
            
        }
        div#cuadro3 p#info{ 

            position: absolute;
            font-weight: 600;
            font-size: 13px;
            margin: 20px;
            text-align: center;
            top:90px;
            color: #000000;
            opacity: 0;
            }

            div#cuadro3:hover img{
                opacity: 0;
                transition: all 400ms;   
               
               }
               div#cuadro3:hover h1{
               color: #582C82;
               transition: all 400ms;
               }
               div#cuadro3:hover p#info{
                   opacity: 100;
                   transition: all 400ms;
               
                   }
               div#cuadro3:hover{
                   background-color: #7EFFDB;
                   transition: all 400ms;
                   transform: scale(1.1);
               }
.menubicis{
margin: 2px;
position: relative;
margin: 0 auto;
left: 160px;

}
.conoce{
display: inline-block;
width: 830px;
height: 297px;
border: 5px solid #582C82;
box-shadow: -10px 10px 0px #582C82;
background-image: url(../img/conoce.png);
background-size:cover;
margin: 20px;

}

.diseña{
    display: inline-block;
    
    width: 350px;
    height: 350px;
    border: 5px solid #582C82;
    box-shadow: -10px 10px 0px #582C82;
    background-image: url(../img/diseña.png);
    background-size: cover;
    margin: 40px;

}


.marcas{
    display: inline-block;
    width: 350px;
    height: 350px;
    border: 5px solid #582C82;
    box-shadow: -10px 10px 0px #582C82;
    background-image: url(../img/marcas.png);
    background-size: cover;
    margin: 40px;
}

#galeria{
    position: relative;
    background-image: url("../Fondos\ efectos/fondo\ galeria.png");
    margin-top: 30px;
    width: 980px;
    height: 297px;
    margin-bottom: 40px;
    background-size: cover;
    align-items: center;
   margin-left: 10%;
   }

.slider-frame:hover{
    transform: scale(1.2);
}

   .slider-frame {
    width: 650px;
    height: 297px;
    background-color: #582C82;
	margin:50px auto 0px;
	overflow: hidden;
    
}

.slider-frame ul {
    
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 25s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
background-size: cover;
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.mapa{
    border: 5px solid #582C82;
    box-shadow: -10px 10px 0px #582C82;
    left: 60px;
    position: relative;
    margin: 40px;
    width: 550px;
    height: 450px;
    display: inline-block;
    background: #FFFFFF;
    
}
.atender{
    background: #FFFFFF;
    border: 5px solid #582C82;
    position: absolute;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 80px;
    text-align: center;
}
.atender img{

    width: 30px;height: auto;
    margin-left: 10px;
    margin-top: 20px; 
}

.atender h1{
padding-top: 40px;
}

.atender p{
    padding-left: 50px;
    width: 206px;
    padding-top: 10px;
}
.botonc{
position: absolute;
width: 140px;
height: 40px;
left: 50px;
background: #7EFFDB;
border: 4px solid #000000;
margin: 30px;
text-align: justify;
}
.botonc p a{
    text-decoration: none;
    color: #000000;
}
.botonc:hover{
    box-shadow: -6px 4px 0px #000000;
    transition: all 400ms;
    transform: scale(1.1);
}
.botonc p{
    font-style: normal;
    font-weight: 800;
padding-top: 10px;
padding-left: 20px;
}

.botona{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 9px;
    top:60%;
    background: #7EFFDB;
    border: 4px solid #000000;
    margin: 40px;
    
        }

        .botona:hover{
            box-shadow: -6px 4px 0px #000000;
            transition: all 400ms;
            transform: scale(1.1);
        }
        .botona a{
        text-align: center;
        font-style: normal;
        font-size: 13px;
        font-weight: 800;
        padding-top: 10px;
        padding-left: 20px;
        }

.botonconoce{
    width: 140px;
    height: 40px;
    background: #FFF085;
    border: 4px solid #000000;
    margin-top: 20%;
    margin-left:40%;
    text-align:center;
    
}
.botonconoce:hover{
    box-shadow: -6px 4px 0px #000000;
    transition: all 400ms;
    transform: scale(1.1);}
.botonconoce a{
text-align: center;
font-style: normal;
font-size: 13px;
font-weight: 800;
padding-top: 10px;
padding-left: 10px;
text-decoration: none;
color: #000000;
}

.botondiseña{
    width: 140px;
    height: 40px;
    background: #7EFFDB;
    border: 4px solid #000000;
    margin-top: 60%;
    margin-left:29%;
    text-align:center;
}
.botondiseña:hover{
    box-shadow: -6px 4px 0px #000000;
    transition: all 400ms;
    transform: scale(1.1);}

.botondiseña a{
text-align: center;
font-style: normal;
font-size: 13px;
font-weight: 800;
padding-top: 10px;
padding-left: 10px;
text-decoration: none;
color: #000000;
}

.botonmarcas:hover{
    box-shadow: -6px 4px 0px #000000;
    transition: all 400ms;
    transform: scale(1.1);}
.botonmarcas{
    width: 140px;
    height: 40px;
    background: #FF9DE2;
    border: 4px solid #000000;
    margin-top: 60%;
    margin-left:29%;
    text-align:center;
}

.botonmarcas a{
text-align: center;
font-style: normal;
font-size: 13px;
font-weight: 800;
padding-top: 10px;
padding-left: 10px;
text-decoration: none;
color: #000000;
}
    .pie {
        height:200px;
        background:#000000;
        position: absolute;
        width:100%;
    }
    .pie img{
        position: absolute;
        width: 200px;height: auto;
        top: 50%; 
        left: 50%; 
        margin: -35px 0 0 -97px;
    }


    .texto1{
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        top: 30%;  
        left: 10%;
       color: #FFFFFF;
       text-align: center
    }

.texto1 a{
    color: #FFFFFF;
    text-decoration: none;
}
    .texto1 h1{
        
font-weight: 600;
font-size: 16px;
margin: 10px;
}

.texto2 a {
color: #FFFFFF;}
    .texto1 ul li{
display: inline-block;
list-style-type: none;
text-decoration: none;
font-weight: 400;
font-size: 10px;
margin: 10px;
}


    .texto2{
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        top: 68%;  
        left: 10%;
       color: #FFFFFF;
       text-align: center}

      

    .texto2 ul li{
display: inline-block;
list-style-type: none;
text-decoration: none;
font-weight: 400;
font-size: 10px;
margin: 10px;
}


.texto3{
    position: absolute;
    font-family: 'Montserrat';
font-style: normal;
top: 80%;  
left: 45%;
color: #FFFFFF;
text-align: center
}

.texto4{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
top: 30%;  
left: 77%;
color: #FFFFFF;
text-align: center}

.texto4 h1{    
font-weight: 600;
font-size: 16px;
margin: 10px;
}


.redes img{
top: 149px;

}


.facebook img{
width: 23px;
height: auto;
left: 1100px;
}


.Instagram img{
width: 23px;
height: auto;
left: 1151px;
}

.Twit img{
width: 23px;
height: auto;
left: 1199px;
}
